.head_txt {
    font-family: fantasy;
    color: #0078d4;
    background-color: #c4dff6;
}

.main_div {
    height: 500px;
}

.nav_div {
    padding-left: 30px;
    width: 300px;

}

.content_div {
    border-top: 1px solid #caccd1;
    border-left: 1px solid #caccd1;
    /* background-color: #dcdcdc; */
    height: 545px;
    margin-top: 1px;
}

.main_content {
    padding-top: 10px;
}
.search_txt{
   width:990px;

}
.search_btn{
    margin-left: 10px;
}
.amtdiv {
    padding-right: 180px;
    margin-top: 7px;
    margin-left: 28px;
}

.ulstyle {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.listyle:hover {
    background-color: #c4dff6;
}

.listyle {
    background: white;
    display: block;
    margin: 10px 0px;
    padding: 10px;
    border: 2px solid gainsboro;
    border-radius:30px;
}

.font {
    color: #0078d4;
    padding-right: 37px;
    padding-top: 41px;
    text-decoration: none;
}

.font_div {
    width: 10%;
    font-size: 25px;
    margin-top: -21px;
}