<nav class="navbar fixed-top navbar-expand-lg navbar-light head_txt" style="position:sticky;">
    <h3>Receipts</h3>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
               {{userName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- <a class="dropdown-item ">Logout</a> -->
                <button type="submit"class="dropdown-item" (click)="doLogOut()">Logout</button>
            </div>
        </li>
    </ul>
</nav>