
<div class="nav_div">
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div>
                        <a class="nav-link" [routerLink]="['/receipts/new']">
                            <h5>New</h5>
                        </a>
                    </div>

                </li>
                <li>
                    <a class="nav-link" [routerLink]="['/receipts/list']">
                        <h5>Search</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <div>
                        <a class="nav-link" [routerLink]="['/receipts/grid']">
                            <h5>Grid View</h5>
                        </a>
                    </div>

                </li>
            </ul>
        </nav>
    </div>