<!-- <p>logincomponent works!</p> -->
<div class = "row">
    <div class = "col-md-4"></div>
    <div class = "col-md-4 format ">
        <div class ="txtfont">
            <p>Account Login</p>
        </div>
        <div class= "form-group">
            <input type="text" placeholder="Email" class="form-control"><br>
            <input type="password" placeholder="Password" class="form-control"><br>
            <button class ="txtbox btn btn-info"(click)="success()">Sign up</button>
        </div>
        <div>
            <p>Forgot <a href="#">username/password</a>?<br>Create <a href="#">new one</a>!</p>
        </div>
    </div>
    <div class = "col-md-4"></div>
</div>