<app-without-dropdown></app-without-dropdown>
<div class="d-flex main_div">
    <div class="container-fluid content_div">
        <form #registerForm="ngForm">
            <div class="form main_content">
                <div class="form-group">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" placeholder="UserName" name="txtusername" #txtusername="ngModel" required
                        [(ngModel)]="regData.name" class="form-control " />
                    <div class="error-msg alert alert-danger "
                        *ngIf="txtusername.invalid && (txtusername.dirty || txtusername.touched)">
                        <div *ngIf="txtusername.errors?.required">This field is required</div>
                    </div>
                </div>
                <div class=" form-group">
                    <label for="EmailId" class="form-label ">Email Id</label>
                    <input type="email" placeholder="Email Id" name="txtemail" #txtemail="ngModel"email
                        [(ngModel)]="regData.email_id" class="form-control " />
                    <div class="error-msg alert alert-danger"
                        *ngIf="txtemail.invalid && (txtemail.dirty || txtemail.touched)">
                        <div *ngIf="txtemail.errors?.email">Enter valid Mail id</div>
                    </div>
                </div>
                <div class="form-group">
                    <div><label for="password" class="form-label ">Password</label></div>
                    <input type="password" placeholder="Password" name="txtpass" #txtpass="ngModel" required
                        [(ngModel)]="regData.password" class="form-control " maxlength= "30"  />
                    <div class="error-msg alert alert-danger"
                        *ngIf="txtpass.invalid && (txtpass.dirty || txtpass.touched)">
                        <div *ngIf="txtpass.errors?.required">Password should have minimum 8 characters</div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary" type="button" (click)="registerUser()"
                        [disabled]="!registerForm.valid">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>