label{
    font-weight:bolder;
    
}
.nav-style{
    color:black;
    font-weight:bolder;
}
.profile-img{
    height:100px;
    width:100px;
    margin-left:20px;
    margin-left:64px;
    margin-top: 30px;

}
.personal-form{
    float:left;
    width:450px;
    margin-top:43px;
}