.menubar{
    float:right;
    font-size:20px;
}
.logo{
    
    font-size:30px;
    font-weight:bolder;
    color:#0068de;
    
    
}
.img-adjust{
    width:55px;
    height:55px;
    padding-left:15px;
}
.bgcolor{
    background-color: #e6e6e6;
}
.image{
    height:61px;
    width:64px;
}
.profile{
    margin-top:5px;
  
}
.navi-bar{
    color:#0671B7;
}

.main-menu-verticallink{
    color: gray;
    font-weight:bold;
    
}
.name{
    float:right;
    /* margin-left:100px; */
    /* margin-top:30px; */
    font-family:Squaresans;
    font-size:22px;
    line-height:2px;
}
.image{
   
    float:left;
    margin-left:16px;
    margin-top:10px;
    height:60px;
    width:60px;

}

.adjust{
    float:right;
    margin-top:20px;
    
}
.dropwrapper{
    left:-200px;
    width:325px;
    height:350px;
}

.dropdown-item{
    padding-left:1px;
    /* padding-top:5px;
    margin-top:10px; */
   
  
}
.spacing-text{
    font-size:18px;
    font-family:"chandas";
    color: dimgray;
    text-decoration: none;
    padding-bottom:10px;
    padding-top:10px;
    display:block;
   
}
.spacing-text:hover{
    background-color:00ccff;
    text-decoration:none;
    color:gray;
    /* display:block; */
   
  

}
.icon-spacing{
    padding-right:20px;
    padding-left:20px;
    color:#0671B7;
}
.menu{
    margin-top:10px;
}
.sidebar{
    float:left;
    height:600px;
    background-color:#f2f2f2;
   
    
}

.content{
    float:right;
    height:600px;
    background-color:#f2f2f2;
    overflow:scroll;
}
/* .sidebar-adjust{
   overflow-y:scroll;
} */
.menu-item:hover{
    text-decoration:none;
    background-color: #e6faff;
    display:block;
    font-weight:bolder;

}
.menu-item{
    font-size:18px;
    font-family:"chandas";
    color: #0671B7;
    text-decoration: none;
    padding-bottom:10px;
    padding-top:10px;
    display:block;
   
}
.subitem{
    padding-left:15px;
    color:dimgray;
}
.icon{
    float:right;
}
