<html>

<head>
    <link rel="stylesheet" href='/static/assets/css/bootstrap.min.css' />
    <link rel="stylesheet" href='/static/index.css'>
    <link rel="stylesheet" href='/static/assets/css/font-awesome.min.css'>
    <link rel="stylesheet" href='/static/assets/css/bootstrap-datepicker3.css'>
    <script src='/static/assets/scripts/jquery-3.3.1.slim.min.js'></script>

<body>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-4">
                <h2 style="font-family: 'Lucida Sans';">Employee Management</h2>
            </div>

            <div class="col-md-8 d-flex justify-content-end">
                <a href="/"> <i class="fa fa-home" style=" margin-top: 18px;
                    margin-right: 10px;"></i></a>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end" style="float:left; font-weight:bolder;font-size: 20px;
            font-family: cursive;">
                <p>Add Employee</p>
            </div>

        </div>


        <div class="align">

            <form method="post" style="width:450px;margin-left:300px; font-weight:bolder;">
                {% csrf_token %}
                <div class="form-group">
                    <label for="Empcode" class="form-control-label">Code</label>
                    <input type="text" id="code" name="code" class="form-control" disabled/>
                </div>
                <div class="form-group">
                    <label for="FirstName" class="form-control-label">FirstName</label>
                    <input type="text" id="FirstName" name="FirstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="LastName" class="form-control-label">LastName</label>
                    <input type="text" id="LastName" name="LastName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Email" class="form-control-label">Email</label>
                    <input type="text" id="Email" name="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Phone" class="form-control-label">Phone</label>
                    <input type="text" id="Phone" name="Phone" class="form-control" />
                </div>

                <div>
                    <input type="submit" class="btn btn-primary" onclick="msg()" id="AddBtn" />
                    <script>
                        function msg() {
                            alert("Edited Successfully");
                        }
                    </script>

                </div>
            </form>

        </div>
    </div>

</body>

</html>