<html>

<head>
    <link rel="stylesheet" href='/static/assets/css/bootstrap.min.css' />
    <link rel="stylesheet" href='/static/index.css'>
    <link rel="stylesheet" href='/static/assets/css/font-awesome.min.css'>
    <link rel="stylesheet" href='/static/assets/css/bootstrap-datepicker3.css'>
    <script src='/static/assets/scripts/bootstrap.min.js'></script>
</head>

<body>
    <div class="container-fluid img-bg">
        <div class="row">
            <div class="col-md-4">
                <h2 style="font-family: 'Lucida Sans';">Employee Management</h2>
            </div>

            <div class="col-md-8 d-flex justify-content-end">
                <a href="/"> <i class="fa fa-home" style=" margin-top: 18px;
                    margin-right: 10px;"></i></a>
            </div>

        </div>
        <div class="row">
            <div class="col-md-7 d-flex justify-content-end" style="float:left; font-weight:bolder;font-size: 20px;
            font-family: cursive;">
                <p>Search Asset</p>
            </div>

        </div>

        <div class="input-group" style="width:450px;margin-left:450px; ">
            <input type="text" id="Search" class="form-control" placeholder="Search by firstname...">
            <div class="input-group-append">
                <button class="btn btn-primary" id="SearchBtn"> <a href="#">
                        <i class="fa fa-search"></i></a>
                </button>

            </div>
        </div>
    </div>

</body>

</html>